body,html{
  background-image: url("https://cdn.pixabay.com/index/2022/08/11/19-40-24-850_1440x550.jpg");
  background-repeat: no-repeat;
  background-size:100% 600px ;
}
.hero
{
  background-color: white;
  height: 60px;
  display:flex;
  gap: 70rem;
}
.pixa
{
  font-size: 30px;
  block-size: 20px;
}
.text
{
  color:white;
  margin-top: 100px;
}
.search{
  width:800px;
  height:60px;
}
.card
{
  width:400px;
  height:200px;
  margin-top: 200px;
}
.title{
  text-decoration: none;
  list-style: none;
  font-size: x-large;
}